*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'roboto', sans-serif;
    margin: 0;
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style:none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

header{ 
    background: rgb(180,205,191);
    background: linear-gradient(0deg, rgba(180,205,191,1) 0%, 
                rgba(3,3,4,1) 100%);
}
header .logo{
    margin: 0;
    padding: 20px 30px;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: rgb(241, 241, 0);
    transition: all 1s;}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("images/fondohero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}


#inicio{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}
#inicio .container{
    padding: 150px 12px;
}
#inicio h2{
    margin-top: 0;
    font-size: 3.2em;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
#inicio p{
    display:flow-root;
}
#inicio .carta{
    background-position: center center;
    background-size: 100% 95px;
    background-repeat: no-repeat;
    background-position-y:0;
    background-color: rgba(50, 50, 50, 1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url("images/seccioninicio.jpg");
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url("images/seccioninicio.jpg");
}
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url("images/seccioninicio.jpg");
}
#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}
#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}


footer{
    background-color: rgb(230,230,230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 4em;
    }
    #inicio .programas{
        display: flex;
        justify-content:center;
    }
    #inicio p{
        display:flow-root;
    
    }
    #inicio h2{
        font-size: 4em;
    }
    #inicio h3{
        margin-top: 0;
    }
    #inicio .carta{
        padding: 50px;
        background-size: 100% 95px;
        background-repeat: no-repeat;
        background-position-y:0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #caracteristicas{
        background-image: url("images/seccionlista.jpg"); 
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
        background-color: rgb(245,445,245);
    }
    #caracteristicas .container{
        text-align: initial;
    }
    #caracteristicas ul{
        margin-left: 100px;
    }

    footer .container{
        justify-content: flex-end;
    }
}
@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}